<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Contribuyentes</h1>
	<table cellspacing="10">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>NIT</th>
				<th>Importancia</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="contribuyente : ${contribuyentes}">
				<td th:text="${contribuyente.nombre}"></td>
				<td th:text="${contribuyente.apellido}"></td>
				<td th:text="${contribuyente.nit}"></td>
				<td th:text="${contribuyente.importancia.tipoImportancia}"></td>
				<td th:text="${contribuyente.fechaDelegate()}"></td>
			</tr>
		</tbody>
	</table>
	
	<a href="/inicio">Regresar</a>
	
</body>
</html>